/****** PLACE YOUR CUSTOM STYLES HERE ******/

.bg-mail {
    background-color: #dc0e62 !important;
}

.bg-green {
    background-color: #b8eae4 !important;
}

.tema {
    color: black !important;
}

nav.transparent .nav-bar {
    border-bottom: 0px !important;
}

.logo {
    max-height: 110%;
}

.image-xs {
    max-height: 200px;
}

ion-icon {
    color: #dc0e62;
  }


.mb24 {
    margin-top: 350px;
}

.btn-white, .image-bg .btn, .image-bg .btn:visited {
    color: #fff;
}
 .drebtn {
    border-color: #fff !important
}

