/****** PLACE YOUR CUSTOM STYLES HERE ******/

.bg-mail {
    background-color: #dc0e62 !important;
}

.bg-green {
    background-color: #b8eae4 !important;
}

.tema {
    color: black !important;
}

nav.transparent .nav-bar {
    border-bottom: 0px !important;
}

.nav-bar {
    height: 55px;
    max-height: 55px;
    line-height: 53px;
    border-bottom: 0px !important;
}